<div class="container">
    <div class="row">
        <div class="col-lg-11 mx-auto py-5">
            <h1 class="h3">Stats</h1>
            <hr>
            <div class="card bg-dark border">
                <div class="card-body text-center">
                    <div class="text-white mb-4">Please enter a valid address, or connect your wallet first.</div>
                    <button type="button" class="btn btn-secondary" connect>Connect Wallet</button>
                </div>
            </div>
        </div>
    </div>
</div>