<div class="container py-5">
    <div class="row">
        <div class="col-lg-4 mx-auto py-3">
            <div class="row g-4">
                <div class="col-12 mb-3">
                    <div class="card bg-dark">
                        <div class="card-body text-white">
                            <div class="lead fw-bold">Your PRO Status</div>
                            <div class="mb-4">Status: BASIC</div>

                            <div class="d-grid">
                                <button class="btn btn-dark" connect>Connect</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="card bg-dark shadow">
                        <div class="card-body text-white">
                            <div class="lead fw-bold">PRO Features</div>
                            <div class="mb-4">Hold 50 CryptoCoinChain to be a PRO.</div>
                            <ul class="mb-3">
                                <li>MULTI wallet feature up to 50 wallets</li>
                                <li>Downloadable holdings report </li>
                                <li>Swaps fees reduction (0.2% 🡢 0.1%)</li>
                                <li>TVL, Supply, APR charts</li>
                            </ul>
                            
                            <div class="d-grid">
                                <button class="btn btn-dark" connect>Buy $CryptoCoinChain</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>