<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 d-none d-lg-block p-0" *ngIf="showSideBar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="{{showSideBar ? 'col-lg-10':'col-lg-12'}} col-md-12 p-0 min-vh-100 position-relative">
            <!-- Navbar -->
            <app-navbar></app-navbar>
            <!-- main content -->
            <div class="container" style="min-height: 80vh;">
                <router-outlet></router-outlet>
            </div>
            
            <div class="container-fluid" style="left: 0; right: 0; bottom: 0;">
                <!-- <hr> -->
                <div class="row g-3">
                    
                    <div class="col-lg-6 justify-content-center justify-content-lg-start d-flex flex-row gap-3">
                        <a href="#">
                            <!-- <i class="mdi mdi-medium"></i> -->
                            <i aria-hidden="true" class="fab fa-medium material-icons theme--dark"
                                style="font-size: 21px;"></i>
                        </a>

                        <a href="#">
                            <!-- <i class="mdi mdi-twitter"></i> -->
                            <i aria-hidden="true" class="fab fa-twitter material-icons theme--dark"
                                style="font-size: 21px;"></i>
                        </a>

                        <a href="#">
                            <!-- <i class="mdi mdi-discord"></i> -->
                            <i aria-hidden="true" class="fab fa-discord material-icons theme--dark"
                                style="font-size: 21px;"></i>
                        </a>
                    </div>

                    <div class="col-lg-6 justify-content-lg-end flex-wrap justify-content-center d-flex flex-row gap-3">
                        <a href="#">Request feature</a>
                        <span>|</span>
                        <a href="#">Get listed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<app-connect></app-connect>