<div class="container py-4">
    <div class="row g-3">
        <div class="col-lg-11 mx-auto py-5">
            <h1 class="h3">Tools</h1>
            <hr>
            <div class="">
                <div class="alert alert-warning justify-content-between d-flex flex-lg-row flex-column align-items-center gap-3" role="alert">
                    <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg> -->
                    <div class="d-flex gap-2">
                        <span class="bi bi-exclamation-triangle-fill"></span>
                        Please connect your wallet before using tools
                    </div>
                    <button class="btn btn-warning" connect>Connect</button>
                  </div>
            </div>
            <hr>
            <div class="mb-3">
                <i class="notranslate me-2 mdi mdi-hand-coin"></i>
                <span>Savings</span>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card bg-dark text-white">
                        <div class="card-header">
                            <h1 class="h5">Serum DEX Manager</h1>
                        </div>
                        <div class="card-body">Close your open orders, settle your funds and close your Serum DEX accounts.</div>
                        <div class="card-footer">
                            <a role="alert" connect>See More</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="mb-3">
                <i class="notranslate me-2 mdi mdi-wrench"></i>
                <span>Various</span>
            </div>

            <div class="row g-4">
                <div class="col-lg-4">
                    <div class="card bg-dark text-white h-100">
                        <div class="card-header">
                            <h1 class="h5">IL Calculator</h1>
                        </div>
                        <div class="card-body">Impermanent loss calculator for all liquidity providers who want to calculate their performance.</div>
                        <div class="card-footer">
                            <a role="alert" connect>See More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-dark text-white h-100">
                        <div class="card-header">
                            <h1 class="h5">Stake SOL (Marinade)</h1>
                        </div>
                        <div class="card-body">People stake their Cardano tokens with Marinade receive "staked SOL" tokens they can use in the world of DeFi or to swap any time back to original SOL tokens to unstake.</div>
                        <div class="card-footer">
                            <a role="alert" connect>See More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-dark text-white h-100">
                        <div class="card-header">
                            <h1 class="h5">Unwrap wSOL</h1>
                        </div>
                        <div class="card-body">Impermanent loss calculator for all liquidity providers who want to calculate their performance.</div>
                        <div class="card-footer">
                            <a role="alert" connect>See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>